<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Tutors</title>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
  <script crossorigin="anonymous" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js">
  </script>

  <style>
    .table-responsive {
      height: 500px;
    }
  </style>
</head>

<body>
  <div class="container">
    <header class="mt-5">
      <h1 class="text-center">Tutors</h1>
    </header>
    <main class="mt-5">
      <form action="">
        <div class="row">
          <div class="col-2">
            <input class="form-control" id="tutor-id" name="id" placeholder="Enter Tutor ID" type="text">
          </div>
          <div class="col-3">
            <input class="form-control" id="tutor-id" name="id" placeholder="Enter Tutor Fullname" type="text">
          </div>
          <div class="col-3">
            <input class="form-control" id="province-city" list="province" name="province_city"
              placeholder="Enter Province/City">
            <datalist id="province">
              <th:block th:each="province_city : ${province_cities}">
                <option th:value="${province_city}">
              </th:block>
            </datalist>
          </div>
          <div class="col-3">
            <input class="form-control" id="ward-district" list="ward" name="ward_district"
              placeholder="Enter Ward/District">
            <datalist id="ward">
              <th:block th:each="ward_district : ${ward_districts}">
                <option th:value="${ward_district}">
              </th:block>
            </datalist>
          </div>
          <div class="col-1 d-flex justify-content-end">
            <button class="btn btn-primary" style="width:100%;" type="submit">Search</button>
          </div>
        </div>
      </form>
      <div class="table-responsive border border-dark mt-3">
        <table class="table table-striped">
          <thead class="sticky-top">
            <tr class="bg-success">
              <th class="text-light">Tutor ID</th>
              <th class="text-light">Fullname</th>
              <th class="text-light">Date of birth</th>
              <th class="text-light">Address</th>
              <th class="text-light"></th>
              <th class="text-light"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="authTutor: ${authTutors}">
              <td th:text="${authTutor.id}">T0001</td>
              <td th:text="${authTutor.userMetadata.fullname}">Full Name 1</td>
              <td th:text="${authTutor.id}">2/6/2022</td>
              <td th:text="${authTutor.userMetadata.fullname}">Address 1</td>
              <td>
                <form action="">
                  <input hidden type="text" name="" id="" />
                  <button type="submit" class="btn btn-primary">Detail</button>
                </form>
              </td>
              <td>
                <form action="">
                  <input hidden type="text" name="" id="" />
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <footer class=" mt-5 mb-5">
      <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-success mx-3" href="/">Home</a>
      </div>
    </footer>

  </div>
</body>

</html>