<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Students</title>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
  <script crossorigin="anonymous"
          integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js">
  </script>

  <style>
    .table-responsive {
      height: 500px;
    }

  </style>
</head>

<body>
<div class="container">
  <header class="mt-5">
    <h1 class="text-center">Students</h1>
  </header>
  <main class="mt-5">
    <div class="table-responsive border border-dark">
      <table class="table table-striped">
        <thead class="sticky-top">
        <tr class="bg-success">
          <th>Student ID</th>
          <th>Fullname</th>
          <th>Gender</th>
          <th>Date of birth</th>
          <th>Address</th>
          <th>Parent Fullname</th>
          <th>Emails</th>
          <th>Phones</th>
          <th>About</th>
          <th>Classes</th>
          <th>Periods</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="authStudent: ${authStudents}">
          <td th:text="${authStudent.id}"></td>
          <td th:text="${authStudent.userMetadata.fullname}"></td>
          <td th:text="${authStudent.userMetadata.gender}"></td>
          <td th:text="${authStudent.userMetadata.dob}"></td>
          <td th:text="${authStudent.userMetadata.address}"></td>
          <td th:text="${authStudent.userMetadata.relatives}"></td>
          <td th:text="${authStudent.userMetadata.emails}"></td>
          <td th:text="${authStudent.userMetadata.phones}"></td>
          <td th:text="${authStudent.userMetadata.about}"></td>
          <td th:text="${authStudent.userMetadata.student.classes}"></td>
          <td th:text="${authStudent.userMetadata.student.periods}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </main>
  <footer class="mt-5 mb-5">
    <div class="d-flex justify-content-center align-items-center">
      <a class="btn btn-success mx-3" href="/">Home</a>
    </div>
  </footer>
</div>
</body>

</html>
